{% extends 'basic.html' %}
{% block title %}About EIA{% endblock %}
{% block css %}
.container{
    margin-top:40px;
    margin-bottom:40px;
    background-color:azure;
    font-size:18px;
}
.hr{
    opacity:0.9;
}
h2{
    text-align:center;
}
{% endblock %}
{% block body %} 
<div class="container">
    <h2><i>About Eastern Investgative Agency</i></h2>
    <hr>
    <div class="row mt-4">
        <div class="col-md-5">
           <img src=" https://webstockreview.net/images/clipart-coat-detective-5.png" width="80%" height="80%">
        </div>
        <div class="col-md-7"><i>
        <p>The Eastern Investigative Agency (EIA) operates independently and plays an important role in the service of our country in order to make a crime free society. EIA is the premier investigative agency in the country today, with a dual responsibility to investigate grievous cases and provide leadership and direction in fighting corruption to the Police force across the country.</p>
        <p>Our Mission is to uphold the law of the land through in-depth investigation and successful prosecution of offences; to provide leadership and direction to Police Forces working with us and to act as the Nodal Agency for enhancing interstate and international cooperation in law enforcement.</p>
        <p>We have taken urgent step and investigation for various types of crime and will be continuing to do so. We have even implemented various types of new tech like face-recognition to aid us in our investigation.</p>
        </i></div>
    </div>
</div>
{% endblock %}